
  
                                    <table align="right" class="mob-width" valign='top' data-bsi-element="social-follow" data-bsi-element-part="social-follow"
                                     
                                        border="0"
                                        align="left"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="display:inline-block;">
                                        <tbody>
                                            <tr>
                                                <td class="social-media-item"
                                                    data-bsi-social-follow="twitter"
                                                    align="right"
                                                    valign="middle"
                                                    width="24"
                                                    height="22"
                                                   >
                                                    <a href="[Twitter]"
                                                        target="_blank">
                                                        <img src="{{
                                                            bsi_cx_asset(
                                                                '../../../../../resources/icons/twitter.png'
                                                            )
                                                            }}"
                                                            class="footer-icon"
                                                            width="24"
                                                            height="22"
                                                            style="display:block;"
                                                            border="0" />
                                                    </a>
                                                </td>
                                                <td width="9">
                                                    &#160;
                                                </td>
                                                <td class="social-media-item"
                                                    data-bsi-social-follow="linkdin"
                                                    align="right"
                                                    valign="middle"
                                                    width="24"
                                                    height="22"
                                                   >
                                                    <a href="[Linkedin]"
                                                        target="_blank">
                                                        <img src="{{
                                                            bsi_cx_asset(
                                                                '../../../../../resources/icons/linkedin.png'
                                                            )
                                                            }}"
                                                            class="footer-icon"
                                                            width="24"
                                                            height="22"
                                                            style="display:block;"
                                                            border="0" />
                                                    </a>
                                                </td>
                                                <td width="9">
                                                    &#160;
                                                </td>
                                                <td class="social-media-item"
                                                    data-bsi-social-follow="Instagram"
                                                    align="right"
                                                    valign="middle"
                                                    width="24"
                                                    height="22"
                                                    >
                                                    <a href="[Instagram]"
                                                        target="_blank">
                                                        <img src="{{
                                                            bsi_cx_asset(
                                                                '../../../../../resources/icons/instagram.png'
                                                            )
                                                            }}"
                                                            class="footer-icon"
                                                            width="24"
                                                            height="22"
                                                            style="display:block;"
                                                            border="0" />
                                                    </a>
                                                </td>

                                                <td width="9">
                                                    &#160;
                                                </td>
                                                <td class="social-media-item"
                                                    data-bsi-social-follow="facebook"
                                                    align="right"
                                                    valign="middle"
                                                    width="24"
                                                    height="22"
                                                    >
                                                    <a href="[Facebook]"
                                                        target="_blank">
                                                        <img src="{{
                                                            bsi_cx_asset(
                                                                '../../../../../resources/icons/facebook.png'
                                                            )
                                                            }}"
                                                            class="footer-icon"
                                                            width="24"
                                                            height="22"
                                                            style="display:block;"
                                                            border="0" />
                                                    </a>
                                                </td>
                                                <td width="9">
                                                    &#160;
                                                </td>

                                                <td class="social-media-item"
                                                    data-bsi-social-follow="youtube"
                                                    align="right"
                                                    valign="middle"
                                                    width="24"
                                                    height="22"
                                                   >
                                                    <a href="[Youtube]"
                                                        target="_blank">
                                                        <img src="{{
                                                            bsi_cx_asset(
                                                                '../../../../../resources/icons/youtube.png'
                                                            )
                                                            }}"
                                                            class="footer-icon"
                                                            width="24"
                                                            height="22"
                                                            style="display:block;"
                                                            border="0" />
                                                    </a>
                                                </td>
                                                <td width="9">
                                                    &#160;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                
